*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    :root {
        scroll-behavior: smooth; 
    }

.titulo{
    position: absolute;
    top: 44%;
    left: 50%;
    /* margin: 0; */
    /* padding: 0 20px; */
    font-size: 30px;
    color:white;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 18px;
}

/* .titulo:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
    -webkit-filter: blur(15px);
}
.titulo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: relative;
    height: relative;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
} */

/* .main{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
} */

.btn {
   /* top: -80%; */
   width: 200px;
   height: 60px;
   font-size: 1.5rem;
   /* text-shadow: 0 0 30px white; */
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   letter-spacing: 2px;
   font-weight: 900;
   cursor: pointer;
   /*border: none;
   */position: relative;
   color: rgb(202, 28, 28);
   z-index: 0;
   border: 3px solid;
   border-radius: 30px ;
   border-color: rgb(255, 255, 255);
   background: transparent;
   background: rgba(150, 150, 150, 0.466);
   overflow: hidden;
}

.btn:hover::before {
    top: 0px;
    border-radius: 0;
}

/* acá es cuando el botón se rellena */
.btn::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 0%);
    border-color: white;
    border-radius: 50% 50% 0% 0;
    z-index: -1;
    transition: all 0.5s;
}

.yo {
    margin-top: 38em;
    margin-left: -5em;
    font-size: 1em;
    color: rgba(243, 243, 243, 0.473);
}

.socialMedia {
    /* width: 50%; */
	position: absolute;
	justify-content: flex-end;
    /* color: white; */
    color: rgba(243, 243, 243, 0.473);
    left: 49%;
    top: 80.6%;
    margin-left: 20px;
    text-align: center;
   font-weight: 600;
   cursor: pointer;
}

.socialMedia:hover{
	color: #b61f1f;
    text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.432);
    cursor: pointer;
}
