

.main {
  /* background-image: url(../Home/img/fondo.jpg); */
  background-size:cover;
  background-repeat: no-repeat;
  /* min-height: 100vh;
  height: 100%;
  background-size: 100%; */
  top: -20px;
  
  
  
}

.dogImage{
  width: 15em;
  margin-left: 80px;
}


.dogDetail {
  position: relative;
  top: 10%;
  width: 30%;
  /* height: 800px; */
  background-color: #929292cc;
  /* border: 3px solid #000000; */
  margin: auto;
  /* padding: 20px; */
   /* border-radius: 20px; */
   margin-bottom: 50px;  
   border-radius: 50px;
    border-color: white;
}



.dogName {
  display: flex;
  /* width: fit-content;
  height: fit-content; */
  text-align: center;
  /* line-height: 0px; */
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 3px 2.5px 2px #000000;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}






.tempBD {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #f8f41d;
  text-shadow: 2px 2px 1px #000000;
}

.dogWeight{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 1px #000000;
  }

  .parrafo{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 1px #000000;
    
  }

