


.conteiner{
    position: absolute;
    top: 20%;
    left: 28%;
    transform: translate(-50%,-50%);
    width: 500px;
}
.weight{
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 500px;

}
.temperaments{
    position: absolute;
    top: 20%;
    left: 61%;
    transform: translate(-50%,-50%);
    width: 500px;

}
.source{
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translate(-50%,-50%);
    width: 500px;

}

.btn {
    /* border: 1px solid black;
    background-color: transparent;
    font-size: ; */
    background-color: rgba(59, 59, 59, 0.863);
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    /* text-shadow: 2px 2px 1px #0000002f; */
    /* border: 1px solid #000000; */
    border-radius: 20px;
    border-color: white;
    margin: 10px;
    padding: 5px 15px;
    transition: color, text-shadow 250ms;
   
    }

.btn:hover {
    color: #fffb0b;
    text-shadow: 1px 1px 1px #000000;
    cursor: pointer;
}

.btn2{
   
    background-color: rgba(59, 59, 59, 0.863);
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 20px;
    border-color: white;
    margin: 10px;
    padding: 5px 15px;
    transition: color, text-shadow 250ms;
}
.btn2:hover {
    color: #fffb0b;
    /* text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.26); */
    cursor: pointer;
}


.btn1[type="text"] {
    background-color: rgba(59, 59, 59, 0.863);
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 20px;
    border-color: white;
    margin: 10px;
    padding: 5px 15px;
    transition: color, text-shadow 250ms;

/* 
    width: 340px;
    height: 45px;
    outline: none; */
}

.btn1[type="text"]:hover {
    color: #fffb0b;
}

.btn1[type="submit"] {
    background-color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: bold;
    color: #fffb0b;
    border-radius: 10px;
    border-color: white;
    margin: 10px;
    padding: 5px 15px;
    transition: color, text-shadow 250ms;

    
    position: relative;
    left: -40px;
    /* width: 150px; */
    /* height: 45px; */
    outline: none;
    cursor: pointer;
 
}

.btn1[type="submit"]:hover{
    background-color: #fffb0b;
    color: black;
    /* text-shadow: 1px 1px 1px #000000; */
    cursor: pointer;
    
}

